.container-conteudo{
	padding: 50px;
	background-color: white;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.container-conteudo p{
	text-align: justify;
}

#img_header{
	display: block;
	position: relative;
	width: 100%;
	height: 200px;/*245*/
	padding: 0px;
}

#img_user{	
	/*position: absolute;
	top: 115px;
	margin-left: 50px;*/
	border-radius: 50%;
	border: 6px solid #2f3131;
	height: 200px;
	width: 200px;
}


