body{
	background-color: #f8f1e5;
}

a{
	outline: none;
}

.nopadding {
   padding: 0px !important;
   margin: 0px !important;
}

footer{
	background-color: #343a40;
	height: 5vh;
	text-align: center;
	padding-top: 5px;
}

.rodape-conteudo{
	color: #848484;
}

h1, h2, h3, h4, h5{
	font-family: 'Oswald', sans-serif;
}

p{
	font-family: 'Quattrocento', serif;
}

body{
	font-family: 'Quattrocento', serif;
}

.btn:focus, .btn:active, button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}

#image-gallery .modal-footer{
  display: block;
}

.thumb{
  margin-top: 15px;
  margin-bottom: 15px;
}

#image-gallery-image{
	max-height: 500px;	
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.img-thumbnail{
	width: 192.5px;
	height: 192.5px;
    object-fit: cover;
    object-position: center;
}

.modal-body{
	text-align: center;
}

#logo{
	font-family: 'Charmonman', cursive;
}